.list {
  width: 250px;
}

.emptyList {
  width: 250px;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.closeBtn {
  text-align: end;
  padding-top: 22.5px;
  padding-bottom: 22.5px;
}
