.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6px;
}

.one {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.two {
  grid-column: 1;
  grid-row: 2;
}

.three {
  grid-column: 2;
  grid-row: 2;
}

@media screen and (min-width: 768px) {
  .wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
  .one {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
  }

  .two {
    grid-column: 3;
    grid-row: 1;
  }

  .three {
    grid-column: 3;
    grid-row: 2;
  }
}
