$brand-color: #a9c4da;

$primary-strong: #5cadef;
$primary-strong-dark: #569fdb;
$primary-strong-transparent: rgba(92, 173, 239, 0.5);

$primary-800: #314f64;
$primary-800-dark: #294254;
$primary-800-transparent: rgba(49, 79, 100, 0.5);

$background: #f8f8f8;

$analogous-500: #9ca1a5;

$triadic-100: #bc7043;
$triadic-100-dark: #ab663e;
$triadic-100-transparent: rgba(188, 112, 67, 0.5);

$darkgray: #0a0a0a;
$darkgray-transparent: rgba(10, 10, 10, 0.5);

$darken-background: rgba(0, 0, 0, 0.5);
