@import './colors';
@import '~bootstrap/scss/bootstrap';

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 82px 0 0 0;
  font-family: 'Thasadith', sans-serif;
  font-size: 1.2rem;
  letter-spacing: 0.8px;
}

h2 {
  font-size: 2.6rem;
  font-weight: 700;
}

h3 {
  font-size: 1.7rem;
  font-weight: 700;
}
